/Pipfile
/bin
/data_parse_json.py
/data_parse_xml.py
/data_parse_yaml.py
/example2.py
/formt_example1.py
/include
/json_example.json
/lib
/master
/pyvenv.cfg
/rich_example.py
/share
/workspace.code-workspace
/xml_example-edited.xml
/xml_example.xml
/yaml_example-edited.yaml
/yaml_example1.yaml
/lib64